#a{
  margin: auto;
  width: 40%;
  height:100%;
  border: 3px solid black;
  padding: 10px;
  background:#0000e6;
}

#b{
    margin: 50px;

  width: 80%;
  height:85%;
  border: 3px solid black;
 
  background:red;
}

#x{
font-family: "Times New Roman", Times, serif;
font-size:20px;
color:white;
}

#y{
font-family: "Times New Roman", Times, serif;
font-size:15px;
color:white;
padding-left:30px;
}
